version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3001:3000'
    depends_on:
      - db
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - GOOGLE_BOOKS_API_KEY=${GOOGLE_BOOKS_API_KEY}
      - AUTH_SECRET=${AUTH_SECRET}
    env_file:
      - .env

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: bookshelf-letterboxd
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  admin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@example.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - "5051:80"
    depends_on:
      - db

volumes:
  postgres_data:
